a {
  text-decoration: none;
}

.left_sidebar {
  grid-area: left-sidebar;
  position: sticky;
  top: 0;
  width: 100%;
  border-right: 1px solid var(--content-color);
  padding-right: 2rem;
  padding-left: 1rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.brand_name {
  font-size: 3rem;
  margin: 2rem;
  color: var(--primary-color);
  pointer-events: none;
}

.brand_name_mobile {
  font-size: 3rem;
  margin: 2rem 0 2rem 2rem;
  color: var(--primary-color);
  display: none;
}

.list {
  list-style-type: none;
}

.list li {
  margin: 2rem 0;
  font-size: 2.5rem;
  font-weight: 500;
  cursor: pointer;
  width: max-content;
  border-radius: 20rem;
  color: var(--content-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
}

.list li a {
  color: var(--content-color);
}

.list li span {
  font-size: 2.5rem;
  margin-right: 1.5rem;
}

.list li:hover {
  color: var(--primary-color);
  transition: 0.2s ease-in-out;
  transform: translateX(1%);
}

.list .bold {
  color: var(--primary-color);
  transition: 0.2s ease-in-out;
  transform: translateX(1%);
}

.cta_btn {
  padding: 1.5rem 1.5rem;
  width: 100%;
  cursor: pointer;
  background-color: var(--cta-btn-bg);
  border: none;
  border-radius: 20rem;
  font-size: 2rem;
  color: var(--cta-btn);
}

.cta_btn:hover {
  background-color: var(--cta-btn-hover);
  transition: 0.2s ease-in-out;
}

.small_profile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--content-color);
  padding: 1rem;
  margin: auto 0 1rem 1rem;
  border-radius: 100rem;
  cursor: pointer;
}

.small_profile:hover {
  background-color: var(--faint-bg);
  transition: 0.2s ease-in-out;
}

.avatar {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.small_profile h1 {
  font-size: 2rem;
  margin-left: 2rem;
  font-weight: 600;
}

.small_profile h3 {
  font-size: 2rem;
  margin-left: 2rem;
  font-weight: 500;
  color: var(--faint-text-clr);
}

.user {
  align-self: flex-start;
}

.mobile_icon_container span.mobile_close {
  /* display: none; */
  color: var(--content-color);
  cursor: pointer;
  margin-left: 1rem;
}

.mobile_icon_container span.mobile_close:hover {
  color: var(--primary-color);
  transition: 0.2s ease-in-out;
}

@media screen and (max-width: 750px) {
  .left_sidebar {
    position: fixed;
    width: 30rem;
    background-color: var(--default-color);
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.2s ease-in-out;
  }

  .left_sidebar_toggle {
    position: fixed;
    width: 30rem;
    background-color: var(--default-color);
    z-index: 2;
    transform: translateX(0%);
    transition: 0.2s ease-in-out;
    grid-area: left-sidebar;
    top: 0;
    border-right: 1px solid var(--content-color);
    padding-right: 2rem;
    padding-left: 1rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .brand_name {
    display: none;
  }

  .brand_name_mobile {
    display: flex;
    align-items: center;
  }

  .logout_icon {
    font-size: 3.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: var(--content-color);
  }

  .logout_icon:hover {
    color: var(--primary-color);
    transition: 0.2s ease-in-out;
  }

  .mobile_icon_container {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .theme_icon {
    font-size: 3.5rem;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: var(--content-color);
    margin-left: 1rem;
  }

  .theme_icon:hover {
    color: var(--primary-color);
    transition: 0.2s ease-in-out;
  }
}
