html[data-theme="light"] {
  --faint-bg: #dcdfe1;
  --user-hover: rgba(42, 41, 41, 0.03);
  --follow-btn-bg: #0c0c0c;
  --follow-btn-clr: #ffffff;
  --follow-btn-hover: #242424;
  --cta-btn: #ffffff;
  --cta-btn-bg: #238ac5;
  --cta-btn-hover: #207cb1;
  --faint-text-clr: #606368;
}

html[data-theme="dark"] {
  --faint-bg: #272727;
  --user-hover: rgba(225, 225, 225, 0.03);
  --follow-btn-bg: #ffffff;
  --follow-btn-clr: #0c0c0c;
  --follow-btn-hover: #cccccc;
  --cta-btn: #ffffff;
  --cta-btn-bg: #238ac5;
  --cta-btn-hover: #207cb1;
  --faint-text-clr: #606368;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

html {
  font-size: 62.5%;
}

@media screen and (min-width: 1800px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 1450px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 1300px) {
  html {
    font-size: 45%;
  }
}

@media screen and (max-width: 1050px) {
  html {
    font-size: 40%;
  }
}

@media screen and (max-width: 920px) {
  section {
    border-right: 1px solid var(--content-color);
  }
}

@media screen and (max-width: 750px) {
  section {
    border-right: none;
  }
}
