.grid_container {
  display: grid;
  grid-template-columns: 1fr 30rem repeat(2, 35rem) 35rem 1fr;
  grid-template-areas: "... left-sidebar contentarea contentarea right-sidebar ...";
}

.grid_container_home {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "contentarea";
}

@media screen and (max-width:920px) {
  .grid_container {
    grid-template-columns: 1fr 30rem 70rem 1fr;
    grid-template-areas: '... left-sidebar contentarea ...';
  }
}

@media screen and (max-width:750px) {
  .grid_container {
    grid-template-columns: 1fr;
    grid-template-areas: 'contentarea';
  }
}