.content_container {
  grid-area: contentarea;
}

.header_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: relative;
}

.header_div span {
  color: var(--content-color);
  font-size: 3rem;
  padding: 1rem;
  cursor: pointer;
  border-radius: 100rem;
}

.header_div span:hover {
  background-color: var(--faint-bg);
  color: var(--primary-color);
}

.header_div span.mobile_close {
  display: none;
}

.section_header {
  color: var(--content-color);
  font-size: 3rem;
  font-weight: 500;
}

.sort input {
  margin-right: 2rem;
}

.filter_selector {
  width: fit-content;
  color: var(--content-color);
  background: var(--default-color);
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
}

.filter_selector:focus {
  outline: none;
}

@media screen and (max-width: 750px) {
  .header_div span.mobile_close {
    display: block;
  }
}
