.content_container {
    grid-area: contentarea;
}

.header_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.header_div span {
    color: var(--content-color);
    font-size: 2.5rem;
    padding: 1rem;
    cursor: pointer;
    border-radius: 100rem;
}

.header_div span:hover {
    background-color: var(--faint-bg);
    color: var(--primary-color);
}

.section_header {
    color: var(--content-color);
    font-size: 2.5rem;
}
